{% extends 'test_app/base.html' %}
{% block title %}
    Test
{% endblock %}

{% block header %}

    <li class="dropdown">
        <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
            Select an object
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
            {% for item in my_object %}
                <li><a href="/{{ item.id }}/"> {{ item.name }} </a></li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}