{% extends 'test_app/base.html'%}

{% block title %}
    Current object
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <h5><a href="{% url 'index' %}">turn back</a></h5>
    <br>
    id = {{ my_object.id }}
    <br>
    name = {{ my_object.name }}
    <br>
    content = {{ my_object.content }}
    <br>

{% endblock %}